.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100%-60)/3);
    
    width: 1200px;
    height: 600px;
    outline: 2px solid red;

}
.item {
    flex-basis: calc((100% - 60px)/3);
    background-color: aqua;
    /* border: 2px solid green;
    */
    

}